## **Supermarkets Sales Analysis Project:**

### **Importing Important Libraries:**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import adjustText as ajt
import ast

### **Importing Data Into A Dataframe:**

In [2]:
df = pd.read_csv("D:\\IT Courses\\Data Analysis Courses\\Data Club Courses\\Supermarket Sales Analysis Project\\Supermarkets_Sales Analysis_Project\\Data\\supermarket_sales - Sheet1.csv")

---

### **Data Inspection Step:**

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

In [4]:
df.columns

Index(['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date',
       'Time', 'Payment', 'cogs', 'gross margin percentage', 'gross income',
       'Rating'],
      dtype='object')

- **Cost of goods sold (COGS): refers to the direct costs of producing the goods sold by a company.**

In [5]:
columns = ['Branch', 'City', 'Customer type', 'Gender','Product line', 'Payment']

for column in columns:
    print(f"{column}: Unique Values = {df[column].unique()}")
    print("---------------------------------------------------")

Branch: Unique Values = ['A' 'C' 'B']
---------------------------------------------------
City: Unique Values = ['Yangon' 'Naypyitaw' 'Mandalay']
---------------------------------------------------
Customer type: Unique Values = ['Member' 'Normal']
---------------------------------------------------
Gender: Unique Values = ['Female' 'Male']
---------------------------------------------------
Product line: Unique Values = ['Health and beauty' 'Electronic accessories' 'Home and lifestyle'
 'Sports and travel' 'Food and beverages' 'Fashion accessories']
---------------------------------------------------
Payment: Unique Values = ['Ewallet' 'Cash' 'Credit card']
---------------------------------------------------

In [6]:
df.describe()

,Unit price,Quantity,Tax 5%,Total,cogs,gross margin percentage,gross income,Rating
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.00000
mean,55.672130,5.510000,15.379369,322.966749,307.58738,4.761905,15.379369,6.97270
std,26.494628,2.923431,11.708825,245.885335,234.17651,0.000000,11.708825,1.71858
min,10.080000,1.000000,0.508500,10.678500,10.17000,4.761905,0.508500,4.00000
25%,32.875000,3.000000,5.924875,124.422375,118.49750,4.761905,5.924875,5.50000
50%,55.230000,5.000000,12.088000,253.848000,241.76000,4.761905,12.088000,7.00000
75%,77.935000,8.000000,22.445250,471.350250,448.90500,4.761905,22.445250,8.50000
max,99.960000,10.000000,49.650000,1042.650000,993.00000,4.761905,49.650000,10.00000

---

### **Data Cleaning Step:**

**1. Create A Copy Of The Main Data Frame:**

In [7]:
df_copy = df.copy()

**2. Rename All Column Names Into Lower Case Letters And Remove Spaces:**

- **First Way:**

In [8]:
for column in df_copy.columns:
    df_copy.rename(columns={column:(column.lower()).replace(" ", "_")}, inplace=True)

In [9]:
df_copy.head()

,invoice_id,branch,city,customer_type,gender,product_line,unit_price,quantity,tax_5%,total,date,time,payment,cogs,gross_margin_percentage,gross_income,rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

- **Second Way:**

In [10]:
df_copy.columns = df_copy.columns.str.lower()
df_copy.columns = df_copy.columns.str.replace(' ', '_')

In [11]:
df_copy.head()

,invoice_id,branch,city,customer_type,gender,product_line,unit_price,quantity,tax_5%,total,date,time,payment,cogs,gross_margin_percentage,gross_income,rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

**3. Merge Columns (Date & Time) Then Convert Them To Datetime Data Type:**

**3.1. Merage Date Column With Time Column:**

In [ ]:
for index, row in df_copy.iterrows():
    df_copy["date"][index] = ((df_copy["date"][index]) + " " + df_copy["time"][index])

**3.2. Rename Column (date) To (date_time):**

In [13]:
df_copy.rename(columns={
    "date":"date_time"
}, inplace=True)

**3.3. Delete Column (time):**

In [14]:
df_copy.drop(columns="time", inplace=True)

**3.4. Convert New Column (date_time) Into Date Time Data Type:**

In [15]:
df_copy["date_time"] = pd.to_datetime(df_copy["date_time"])

In [16]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   invoice_id               1000 non-null   object
 1   branch                   1000 non-null   object
 2   city                     1000 non-null   object
 3   customer_type            1000 non-null   object
 4   gender                   1000 non-null   object
 5   product_line             1000 non-null   object
 6   unit_price               1000 non-null   float64
 7   quantity                 1000 non-null   int64
 8   tax_5%                   1000 non-null   float64
 9   total                    1000 non-null   float64
 10  date_time                1000 non-null   datetime64[ns]
 11  payment                  1000 non-null   object
 12  cogs                     1000 non-null   float64
 13  gross_margin_percentage  1000 non-null   float64
 14  gross_income             1000 non-null   float64
 15  rating                   1000 non-null   float64
dtypes: datetime64[ns](1), float64(7), int64(1), object(7)
memory usage: 125.1+ KB

In [17]:
df_copy.head()

,invoice_id,branch,city,customer_type,gender,product_line,unit_price,quantity,tax_5%,total,date_time,payment,cogs,gross_margin_percentage,gross_income,rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,2019-01-05 13:08:00,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,2019-03-08 10:29:00,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,2019-03-03 13:23:00,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,2019-01-27 20:33:00,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2019-02-08 10:37:00,Ewallet,604.17,4.761905,30.2085,5.3

In [18]:
df_copy.to_csv("cleaned_supermarket_sales.csv", index_label=False)

---